 Weather Dataset Analysis by KODI VENU

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("weatherHistory.csv")

In [5]:
data

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

Analyzing the DataFrames

.head() ---> First N rows of the data

In [7]:
data.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

.shape() ---> Total no.of rows and columns of the dataset

In [9]:
data.shape

(96453, 12)

.index() ---> Index of the dataframe

In [13]:
data.index

RangeIndex(start=0, stop=96453, step=1)

.columns ---> Shows names of each column

In [17]:
data.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

.dtypes ---> Shows the datatypes of each column

In [19]:
data.dtypes

Formatted Date               object
Summary                      object
Precip Type                  object
Temperature (C)             float64
Apparent Temperature (C)    float64
Humidity                    float64
Wind Speed (km/h)           float64
Wind Bearing (degrees)      float64
Visibility (km)             float64
Loud Cover                  float64
Pressure (millibars)        float64
Daily Summary                object
dtype: object

.unique ---> In columns, it shows the unique values. It can be applied on a single column only

In [23]:
data['Daily Summary'].unique()

array(['Partly cloudy throughout the day.',
       'Mostly cloudy throughout the day.', 'Foggy in the evening.',
       'Foggy overnight and breezy in the morning.',
       'Overcast throughout the day.', 'Partly cloudy until night.',
       'Mostly cloudy until night.',
       'Foggy starting overnight continuing until morning.',
       'Foggy in the morning.', 'Partly cloudy until evening.',
       'Partly cloudy starting in the morning.',
       'Mostly cloudy starting overnight continuing until night.',
       'Mostly cloudy until evening.',
       'Partly cloudy starting in the morning continuing until evening.',
       'Partly cloudy starting in the afternoon.',
       'Partly cloudy starting overnight.',
       'Partly cloudy until morning.',
       'Partly cloudy starting overnight continuing until night.',
       'Partly cloudy starting in the afternoon continuing until night.',
       'Mostly cloudy starting overnight.',
       'Partly cloudy until afternoon.',
       'Mostly cloudy until night and breezy in the afternoon.',
       'Foggy starting in the evening.', 'Foggy throughout the day.',
       'Foggy starting in the evening continuing until night.',
       'Mostly cloudy until morning.',
       'Foggy starting in the morning continuing until evening.',
       'Foggy starting overnight continuing until afternoon.',
       'Partly cloudy starting in the morning continuing until afternoon.',
       'Foggy starting overnight.', 'Foggy until morning.',
       'Foggy starting overnight continuing until evening.',
       'Foggy starting in the afternoon.',
       'Partly cloudy starting overnight continuing until afternoon.',
       'Partly cloudy starting in the morning continuing until night.',
       'Overcast until night.',
       'Mostly cloudy starting overnight continuing until evening.',
       'Foggy overnight.', 'Partly cloudy in the morning.',
       'Mostly cloudy starting in the morning.',
       'Foggy starting in the afternoon continuing until evening.',
       'Mostly cloudy until afternoon.',
       'Foggy starting overnight continuing until night.',
       'Mostly cloudy throughout the day and breezy in the evening.',
       'Foggy starting in the morning continuing until afternoon.',
       'Partly cloudy in the afternoon.', 'Clear throughout the day.',
       'Partly cloudy starting in the afternoon continuing until evening.',
       'Partly cloudy overnight.', 'Overcast until evening.',
       'Foggy in the morning and breezy starting in the afternoon continuing until night.',
       'Breezy starting overnight continuing until afternoon and foggy starting in the morning continuing until evening.',
       'Partly cloudy starting overnight continuing until morning.',
       'Mostly cloudy throughout the day and breezy in the afternoon.',
       'Mostly cloudy starting overnight and breezy in the afternoon.',
       'Partly cloudy throughout the day and breezy starting in the morning continuing until night.',
       'Mostly cloudy throughout the day and breezy in the morning.',
       'Partly cloudy starting in the evening continuing until night.',
       'Mostly cloudy until night and breezy starting in the morning continuing until afternoon.',
       'Partly cloudy starting in the morning continuing until evening and breezy starting in the morning continuing until afternoon.',
       'Partly cloudy throughout the day and breezy starting in the morning continuing until afternoon.',
       'Partly cloudy throughout the day and breezy starting in the morning continuing until evening.',
       'Foggy until afternoon.',
       'Overcast until night and breezy overnight.',
       'Breezy until morning and mostly cloudy throughout the day.',
       'Mostly cloudy starting in the morning continuing until night.',
       'Breezy starting overnight continuing until morning and partly cloudy starting overnight continuing until evening.',
       'Partly cloudy in the evening.',
       'Mostly cloudy starting overnight continuing until afternoon.',
       'Mostly cloudy starting in the morning continuing until afternoon.',
       'Mostly cloudy starting in the afternoon.',
       'Mostly cloudy starting in the morning continuing until evening.',
       'Partly cloudy starting overnight continuing until afternoon and breezy in the afternoon.',
       'Partly cloudy starting overnight and breezy in the afternoon.',
       'Mostly cloudy starting in the morning and breezy in the evening.',
       'Foggy starting in the afternoon continuing until night.',
       'Foggy until night.',
       'Foggy starting in the morning continuing until night.',
       'Foggy until evening.', 'Foggy starting in the morning.',
       'Partly cloudy starting overnight continuing until evening.',
       'Partly cloudy starting overnight continuing until evening and breezy starting in the morning continuing until evening.',
       'Breezy starting overnight continuing until morning and foggy in the evening.',
       'Mostly cloudy throughout the day and breezy starting in the morning continuing until evening.',
       'Partly cloudy until evening and breezy starting in the morning continuing until afternoon.',
       'Mostly cloudy starting in the afternoon continuing until night.',
       'Breezy starting overnight continuing until afternoon and mostly cloudy starting overnight continuing until evening.',
       'Mostly cloudy throughout the day and windy starting in the morning continuing until evening.',
       'Breezy and partly cloudy in the afternoon.',
       'Mostly cloudy starting overnight and breezy starting in the morning continuing until afternoon.',
       'Partly cloudy until night and breezy starting in the morning continuing until afternoon.',
       'Breezy and mostly cloudy overnight.',
       'Mostly cloudy throughout the day and breezy overnight.',
       'Mostly cloudy throughout the day and breezy starting in the morning continuing until afternoon.',
       'Partly cloudy throughout the day and breezy in the morning.',
       'Partly cloudy starting in the morning continuing until evening and breezy starting in the afternoon continuing until evening.',
       'Partly cloudy throughout the day and breezy starting in the afternoon continuing until evening.',
       'Mostly cloudy starting overnight and breezy in the morning.',
       'Partly cloudy starting in the afternoon and breezy in the afternoon.',
       'Partly cloudy starting in the morning and breezy in the evening.',
       'Partly cloudy until evening and breezy in the morning.',
       'Partly cloudy starting overnight continuing until evening and breezy starting in the morning continuing until afternoon.',
       'Partly cloudy starting overnight continuing until evening and breezy in the evening.',
       'Mostly cloudy throughout the day and breezy starting in the evening.',
       'Mostly cloudy throughout the day and windy starting in the morning continuing until night.',
       'Breezy starting overnight continuing until morning and partly cloudy starting in the morning.',
       'Mostly cloudy starting in the morning and breezy overnight.',
       'Overcast throughout the day and breezy starting overnight continuing until morning.',
       'Partly cloudy throughout the day and breezy in the evening.',
       'Mostly cloudy until evening and breezy starting in the morning continuing until afternoon.',
       'Mostly cloudy until night and breezy in the evening.',
       'Partly cloudy starting in the evening.',
       'Overcast starting in the morning.',
       'Mostly cloudy starting overnight continuing until evening and breezy starting overnight continuing until morning.',
       'Partly cloudy starting overnight continuing until morning and breezy starting in the morning continuing until afternoon.',
       'Partly cloudy until evening and breezy starting in the morning continuing until evening.',
       'Breezy starting in the morning continuing until afternoon and partly cloudy starting in the morning.',
       'Partly cloudy starting in the morning and breezy starting in the afternoon continuing until evening.',
       'Mostly cloudy starting overnight continuing until morning.',
       'Mostly cloudy throughout the day and breezy starting overnight continuing until afternoon.',
       'Breezy starting overnight continuing until morning and foggy overnight.',
       'Mostly cloudy throughout the day and breezy starting overnight continuing until morning.',
       'Overcast throughout the day and breezy in the morning.',
       'Overcast throughout the day and breezy in the evening.',
       'Mostly cloudy starting in the morning continuing until night and breezy in the afternoon.',
       'Mostly cloudy until night and breezy starting in the evening continuing until night.',
       'Partly cloudy until night and breezy in the morning.',
       'Partly cloudy until evening and breezy overnight.',
       'Partly cloudy starting overnight continuing until night and windy starting in the morning continuing until afternoon.',
       'Breezy starting in the morning continuing until afternoon and mostly cloudy starting in the morning.',
       'Foggy starting overnight continuing until morning and breezy starting in the evening.',
       'Mostly cloudy until night and breezy starting in the afternoon.',
       'Foggy in the afternoon.',
       'Mostly cloudy until night and breezy starting in the afternoon continuing until night.',
       'Foggy starting overnight continuing until morning and breezy starting in the evening continuing until night.',
       'Breezy until afternoon and mostly cloudy throughout the day.',
       'Mostly cloudy throughout the day and breezy starting in the morning continuing until night.',
       'Partly cloudy starting overnight continuing until evening and breezy in the morning.',
       'Mostly cloudy starting in the morning and breezy in the afternoon.',
       'Mostly cloudy starting overnight continuing until night and breezy starting in the morning continuing until evening.',
       'Foggy starting overnight continuing until morning and breezy starting in the morning continuing until afternoon.',
       'Mostly cloudy until evening and windy starting in the morning continuing until afternoon.',
       'Foggy starting overnight continuing until afternoon and breezy in the morning.',
       'Foggy starting in the morning continuing until afternoon and breezy starting in the evening.',
       'Partly cloudy starting overnight and breezy starting in the morning continuing until afternoon.',
       'Foggy starting overnight continuing until morning and breezy in the afternoon.',
       'Mostly cloudy starting overnight and breezy starting in the afternoon continuing until evening.',
       'Overcast throughout the day and breezy starting overnight continuing until afternoon.',
       'Partly cloudy starting in the morning continuing until evening and breezy in the afternoon.',
       'Partly cloudy starting in the morning continuing until night and breezy starting in the afternoon continuing until evening.',
       'Mostly cloudy until night and breezy starting in the evening.',
       'Breezy in the morning and mostly cloudy starting in the morning.',
       'Mostly cloudy until night and breezy starting in the morning continuing until evening.',
       'Partly cloudy starting overnight continuing until evening and windy starting in the morning continuing until evening.',
       'Breezy in the morning and partly cloudy starting in the evening continuing until night.',
       'Partly cloudy overnight and breezy starting in the morning continuing until afternoon.',
       'Light rain in the morning.', 'Light rain until morning.',
       'Light rain in the morning and afternoon.',
       'Partly cloudy starting in the morning continuing until night and breezy starting in the morning continuing until afternoon.',
       'Breezy starting in the afternoon continuing until night and mostly cloudy starting in the evening.',
       'Mostly cloudy throughout the day and breezy starting in the evening continuing until night.',
       'Foggy starting in the afternoon and breezy starting in the afternoon continuing until evening.',
       'Breezy and foggy until morning.',
       'Mostly cloudy until night and breezy starting overnight continuing until morning.',
       'Partly cloudy starting overnight continuing until night and breezy in the morning.',
       'Partly cloudy starting overnight continuing until night and breezy in the afternoon.',
       'Mostly cloudy starting in the morning and breezy starting in the afternoon continuing until evening.',
       'Partly cloudy starting overnight and breezy starting in the evening.',
       'Breezy overnight and overcast throughout the day.',
       'Partly cloudy until night and breezy in the afternoon.',
       'Mostly cloudy starting overnight and breezy starting in the evening.',
       'Breezy overnight and partly cloudy until evening.',
       'Mostly cloudy starting in the evening.',
       'Mostly cloudy throughout the day and breezy starting in the afternoon.',
       'Mostly cloudy throughout the day and breezy starting in the afternoon continuing until evening.',
       'Mostly cloudy until night and windy starting in the morning continuing until afternoon.',
       'Breezy and foggy starting in the evening.',
       'Breezy overnight and partly cloudy throughout the day.',
       'Overcast throughout the day and breezy starting in the evening.',
       'Breezy until evening and foggy in the morning.',
       'Breezy overnight and mostly cloudy throughout the day.',
       'Partly cloudy until evening and breezy in the afternoon.',
       'Partly cloudy starting in the morning and breezy starting in the morning continuing until afternoon.',
       'Mostly cloudy until evening and breezy in the evening.',
       'Windy in the afternoon.', 'Overcast until morning.',
       'Mostly cloudy overnight.',
       'Foggy starting in the morning continuing until evening and breezy in the evening.',
       'Breezy starting overnight continuing until morning.',
       'Breezy starting in the afternoon continuing until evening and foggy starting in the evening.',
       'Mostly cloudy until night and breezy overnight.',
       'Mostly cloudy starting in the morning and windy in the evening.',
       'Partly cloudy throughout the day and windy starting in the morning continuing until afternoon.',
       'Breezy until afternoon and overcast throughout the day.',
       'Breezy in the morning and foggy in the evening.',
       'Breezy starting in the afternoon continuing until evening and foggy in the evening.',
       'Breezy starting in the morning continuing until night.',
       'Breezy in the morning and mostly cloudy starting in the evening.',
       'Mostly cloudy until evening and breezy in the afternoon.',
       'Mostly cloudy until night and breezy starting in the afternoon continuing until evening.',
       'Mostly cloudy until evening and breezy starting overnight continuing until morning.',
       'Overcast throughout the day and breezy in the afternoon.',
       'Overcast throughout the day and breezy starting in the morning continuing until evening.',
       'Overcast throughout the day and breezy overnight.',
       'Overcast starting in the afternoon.',
       'Partly cloudy throughout the day and breezy in the afternoon.',
       'Light rain starting overnight.',
       'Drizzle starting in the evening.', 'Drizzle until morning.',
       'Rain throughout the day.', 'Rain until morning.',
       'Light rain overnight.', 'Rain until afternoon.'], dtype=object)

.nunique() ---> It shows total no.of unique values on a single column or whole dataframe

In [25]:
data.nunique()

Formatted Date              96429
Summary                        27
Precip Type                     2
Temperature (C)              7574
Apparent Temperature (C)     8984
Humidity                       90
Wind Speed (km/h)            2484
Wind Bearing (degrees)        360
Visibility (km)               949
Loud Cover                      1
Pressure (millibars)         4979
Daily Summary                 214
dtype: int64

.count() ---> It shows total no.of non-null values in each column, applied on single column or whole dataframe

In [27]:
data.count()

Formatted Date              96453
Summary                     96453
Precip Type                 95936
Temperature (C)             96453
Apparent Temperature (C)    96453
Humidity                    96453
Wind Speed (km/h)           96453
Wind Bearing (degrees)      96453
Visibility (km)             96453
Loud Cover                  96453
Pressure (millibars)        96453
Daily Summary               96453
dtype: int64

.value_counts ---> Shows all the unique values with their count and applied on single column only

In [29]:
data['Daily Summary'].value_counts()

Daily Summary
Mostly cloudy throughout the day.                                                                       20085
Partly cloudy throughout the day.                                                                        9981
Partly cloudy until night.                                                                               6169
Partly cloudy starting in the morning.                                                                   5184
Foggy in the morning.                                                                                    4201
                                                                                                        ...
Breezy starting overnight continuing until morning and foggy overnight.                                    24
Mostly cloudy throughout the day and breezy starting overnight continuing until afternoon.                 24
Partly cloudy starting in the morning and breezy starting in the afternoon continuing until evening.       24
Rain until afternoon.                                                                                      24
Foggy starting overnight continuing until morning and breezy in the afternoon.                             23
Name: count, Length: 214, dtype: int64

.info() ---> Provides basic information about the dataframe

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

Finding all the unique "Wind Speed" values in the data

In [33]:
data.head(2)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.

In [35]:
data.nunique()

Formatted Date              96429
Summary                        27
Precip Type                     2
Temperature (C)              7574
Apparent Temperature (C)     8984
Humidity                       90
Wind Speed (km/h)            2484
Wind Bearing (degrees)        360
Visibility (km)               949
Loud Cover                      1
Pressure (millibars)         4979
Daily Summary                 214
dtype: int64

In [39]:
data['Wind Speed (km/h)'].nunique()

2484

In [41]:
data['Wind Speed (km/h)'].unique()

array([14.1197, 14.2646,  3.9284, ..., 37.0622, 35.5971, 30.751 ])

Finding the number of times when the "Weather is exactly clear"

In [43]:
data.head(2)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.

In [45]:
# using value counts
data.Summary.value_counts()

Summary
Partly Cloudy                          31733
Mostly Cloudy                          28094
Overcast                               16597
Clear                                  10890
Foggy                                   7148
Breezy and Overcast                      528
Breezy and Mostly Cloudy                 516
Breezy and Partly Cloudy                 386
Dry and Partly Cloudy                     86
Windy and Partly Cloudy                   67
Light Rain                                63
Breezy                                    54
Windy and Overcast                        45
Humid and Mostly Cloudy                   40
Drizzle                                   39
Breezy and Foggy                          35
Windy and Mostly Cloudy                   35
Dry                                       34
Humid and Partly Cloudy                   17
Dry and Mostly Cloudy                     14
Rain                                      10
Windy                                      8
Humid and Overcast                         7
Windy and Foggy                            4
Windy and Dry                              1
Dangerously Windy and Partly Cloudy        1
Breezy and Dry                             1
Name: count, dtype: int64

In [51]:
# using Filtering
data.head(2)
data.Summary == 'Clear'
data[data.Summary == 'Clear']

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
223,2006-04-18 07:00:00.000 +0200,Clear,rain,8.688889,8.688889,0.93,1.4329,290.0,5.8443,0.0,1012.96,Partly cloudy until night.
309,2006-04-20 21:00:00.000 +0200,Clear,rain,12.266667,12.266667,0.99,8.0500,320.0,6.1985,0.0,1015.76,Foggy starting overnight continuing until morn...
337,2006-04-22 01:00:00.000 +0200,Clear,rain,9.355556,8.633333,0.96,6.4239,321.0,3.3649,0.0,1017.56,Foggy starting overnight continuing until morn...
338,2006-04-22 02:00:00.000 +0200,Clear,rain,9.861111,9.861111,0.96,3.2361,319.0,4.4597,0.0,1016.16,Foggy starting overnight continuing until morn...
357,2006-04-22 21:00:00.000 +0200,Clear,rain,12.494444,12.494444,0.91,3.9445,197.0,9.9820,0.0,1015.51,Foggy starting overnight continuing until morn...
...,...,...,...,...,...,...,...,...,...,...,...,...
96432,2016-09-09 03:00:00.000 +0200,Clear,rain,15.594444,15.594444,0.87,3.2844,41.0,15.4399,0.0,1014.52,Partly cloudy starting in the morning.
96433,2016-09-09 04:00:00.000 +0200,Clear,rain,15.011111,15.011111,0.93,3.2039,341.0,15.8263,0.0,1014.37,Partly cloudy starting in the morning.
96434,2016-09-09 05:00:00.000 +0200,Clear,rain,15.016667,15.016667,0.90,2.7048,359.0,14.9569,0.0,1014.55,Partly cloudy starting in the morning.
96435,2016-09-09 06:00:00.000 +0200,Clear,rain,13.872222,13.872222,0.93,4.7495,0.0,15.8263,0.0,1014.66,Partly cloudy starting in the morning.
96436,2016-09-09 07:00:00.000 +0200,Clear,rain,16.072222,16.072222,0.88,2.7853,12.0,15.7297,0.0,1015.25,Partly cloudy starting in the morning.

In [53]:
# groupby
data.head(2)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.

In [55]:
data.groupby('Summary').get_group('Clear')

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
223,2006-04-18 07:00:00.000 +0200,Clear,rain,8.688889,8.688889,0.93,1.4329,290.0,5.8443,0.0,1012.96,Partly cloudy until night.
309,2006-04-20 21:00:00.000 +0200,Clear,rain,12.266667,12.266667,0.99,8.0500,320.0,6.1985,0.0,1015.76,Foggy starting overnight continuing until morn...
337,2006-04-22 01:00:00.000 +0200,Clear,rain,9.355556,8.633333,0.96,6.4239,321.0,3.3649,0.0,1017.56,Foggy starting overnight continuing until morn...
338,2006-04-22 02:00:00.000 +0200,Clear,rain,9.861111,9.861111,0.96,3.2361,319.0,4.4597,0.0,1016.16,Foggy starting overnight continuing until morn...
357,2006-04-22 21:00:00.000 +0200,Clear,rain,12.494444,12.494444,0.91,3.9445,197.0,9.9820,0.0,1015.51,Foggy starting overnight continuing until morn...
...,...,...,...,...,...,...,...,...,...,...,...,...
96432,2016-09-09 03:00:00.000 +0200,Clear,rain,15.594444,15.594444,0.87,3.2844,41.0,15.4399,0.0,1014.52,Partly cloudy starting in the morning.
96433,2016-09-09 04:00:00.000 +0200,Clear,rain,15.011111,15.011111,0.93,3.2039,341.0,15.8263,0.0,1014.37,Partly cloudy starting in the morning.
96434,2016-09-09 05:00:00.000 +0200,Clear,rain,15.016667,15.016667,0.90,2.7048,359.0,14.9569,0.0,1014.55,Partly cloudy starting in the morning.
96435,2016-09-09 06:00:00.000 +0200,Clear,rain,13.872222,13.872222,0.93,4.7495,0.0,15.8263,0.0,1014.66,Partly cloudy starting in the morning.
96436,2016-09-09 07:00:00.000 +0200,Clear,rain,16.072222,16.072222,0.88,2.7853,12.0,15.7297,0.0,1015.25,Partly cloudy starting in the morning.

Finding the number of times when the "Wind Speed was exactly 4km/h"

In [57]:
data.head(2)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.

In [63]:
data[data['Wind Speed (km/h)'] == 4]

Empty DataFrame
Columns: [Formatted Date, Summary, Precip Type, Temperature (C), Apparent Temperature (C), Humidity, Wind Speed (km/h), Wind Bearing (degrees), Visibility (km), Loud Cover, Pressure (millibars), Daily Summary]
Index: []

Find out all the null values in the data

In [66]:
data.isnull()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,False,False,False,False,False,False,False,False,False,False,False,False
96449,False,False,False,False,False,False,False,False,False,False,False,False
96450,False,False,False,False,False,False,False,False,False,False,False,False
96451,False,False,False,False,False,False,False,False,False,False,False,False
96452,False,False,False,False,False,False,False,False,False,False,False,False

In [68]:
data.isnull().sum()

Formatted Date                0
Summary                       0
Precip Type                 517
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Loud Cover                    0
Pressure (millibars)          0
Daily Summary                 0
dtype: int64

In [70]:
data.notnull().sum()

Formatted Date              96453
Summary                     96453
Precip Type                 95936
Temperature (C)             96453
Apparent Temperature (C)    96453
Humidity                    96453
Wind Speed (km/h)           96453
Wind Bearing (degrees)      96453
Visibility (km)             96453
Loud Cover                  96453
Pressure (millibars)        96453
Daily Summary               96453
dtype: int64

Rename the column name 'Summary' to 'Weathrer Condition'

In [72]:
data.head(2)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.

In [76]:
#For temporary purposes
data.rename(columns = {'Summary':'Weather Condition'})

,Formatted Date,Weather Condition,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [78]:
#For Permanent purpose
data.rename(columns = {'Summary':'Weather Condition'}, inplace=True)

In [80]:
data.head(1)

,Formatted Date,Weather Condition,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.

What is the mean 'Visibility'?

In [82]:
data.head(1)

,Formatted Date,Weather Condition,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.

In [84]:
data['Visibility (km)'].mean()

10.347324929240148

In [106]:
pd.Series.str

pandas.core.strings.accessor.StringMethods

In [114]:
data.Visibility_km.mean()

AttributeError: 'DataFrame' object has no attribute 'Visibility_km'

What is the Standard Deviation of 'Pressure' in this data?

In [116]:
data.head(1)

,Formatted Date,Weather Condition,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.

In [118]:
data['Pressure (millibars)'].std()

116.96990568258147

In [120]:
data.Pressure (millibars).std()

AttributeError: 'DataFrame' object has no attribute 'Pressure'

What is the Variance of 'Humidity' in this data?

In [122]:
data.head(1)

,Formatted Date,Weather Condition,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.

In [124]:
data.Humidity.var()

0.03820959171844407

In [126]:
#if space in column names, we use [] else we use . methods
data['Humidity'].var()

0.03820959171844407

Find out all the instances when the 'Snow' was recorded

In [128]:
# using value_counts
#data.head(1)
data['Weather Condition'].value_counts()

Weather Condition
Partly Cloudy                          31733
Mostly Cloudy                          28094
Overcast                               16597
Clear                                  10890
Foggy                                   7148
Breezy and Overcast                      528
Breezy and Mostly Cloudy                 516
Breezy and Partly Cloudy                 386
Dry and Partly Cloudy                     86
Windy and Partly Cloudy                   67
Light Rain                                63
Breezy                                    54
Windy and Overcast                        45
Humid and Mostly Cloudy                   40
Drizzle                                   39
Breezy and Foggy                          35
Windy and Mostly Cloudy                   35
Dry                                       34
Humid and Partly Cloudy                   17
Dry and Mostly Cloudy                     14
Rain                                      10
Windy                                      8
Humid and Overcast                         7
Windy and Foggy                            4
Windy and Dry                              1
Dangerously Windy and Partly Cloudy        1
Breezy and Dry                             1
Name: count, dtype: int64

In [134]:
#Filtering
data[data['Weather Condition'] == 'Snow']

Empty DataFrame
Columns: [Formatted Date, Weather Condition, Precip Type, Temperature (C), Apparent Temperature (C), Humidity, Wind Speed (km/h), Wind Bearing (degrees), Visibility (km), Loud Cover, Pressure (millibars), Daily Summary]
Index: []

In [138]:
#str.contains
data[data['Weather Condition'].str.contains('Snow')]

Empty DataFrame
Columns: [Formatted Date, Weather Condition, Precip Type, Temperature (C), Apparent Temperature (C), Humidity, Wind Speed (km/h), Wind Bearing (degrees), Visibility (km), Loud Cover, Pressure (millibars), Daily Summary]
Index: []

Find out all the instances when 'Wind Speed is above 24' and 'Visibility is 25'

In [140]:
data[(data['Wind Speed (km/h)'] > 24) & (data['Visibility (km)'] == 25)]

Empty DataFrame
Columns: [Formatted Date, Weather Condition, Precip Type, Temperature (C), Apparent Temperature (C), Humidity, Wind Speed (km/h), Wind Bearing (degrees), Visibility (km), Loud Cover, Pressure (millibars), Daily Summary]
Index: []

What is the Mean value of each column against each 'Weather Condition'?

In [167]:
#error due to non conversion of columns from obj into int or float type
data.groupby('Weather Condition').mean()

TypeError: agg function failed [how->mean,dtype->object]

What is the Minimum and Maximum value of each column against each 'Weather Condition'

In [148]:
data.head(1)

,Formatted Date,Weather Condition,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.

In [150]:
data.groupby('Weather Condition').min()

TypeError: agg function failed [how->min,dtype->object]

In [152]:
data.groupby('Weather Condition').max()

TypeError: agg function failed [how->max,dtype->object]

Show all the Records where the Weather Condition is 'Fog'

In [158]:
data[data['Weather Condition'] == 'Fog']

Empty DataFrame
Columns: [Formatted Date, Weather Condition, Precip Type, Temperature (C), Apparent Temperature (C), Humidity, Wind Speed (km/h), Wind Bearing (degrees), Visibility (km), Loud Cover, Pressure (millibars), Daily Summary]
Index: []

Find all the instances when 'Weather is Clear' or 'Visibility is above 40'

In [160]:
data[(data['Weather Condition'] == 'Clear') | (data['Visibility (km)'] > 40)]

,Formatted Date,Weather Condition,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
223,2006-04-18 07:00:00.000 +0200,Clear,rain,8.688889,8.688889,0.93,1.4329,290.0,5.8443,0.0,1012.96,Partly cloudy until night.
309,2006-04-20 21:00:00.000 +0200,Clear,rain,12.266667,12.266667,0.99,8.0500,320.0,6.1985,0.0,1015.76,Foggy starting overnight continuing until morn...
337,2006-04-22 01:00:00.000 +0200,Clear,rain,9.355556,8.633333,0.96,6.4239,321.0,3.3649,0.0,1017.56,Foggy starting overnight continuing until morn...
338,2006-04-22 02:00:00.000 +0200,Clear,rain,9.861111,9.861111,0.96,3.2361,319.0,4.4597,0.0,1016.16,Foggy starting overnight continuing until morn...
357,2006-04-22 21:00:00.000 +0200,Clear,rain,12.494444,12.494444,0.91,3.9445,197.0,9.9820,0.0,1015.51,Foggy starting overnight continuing until morn...
...,...,...,...,...,...,...,...,...,...,...,...,...
96432,2016-09-09 03:00:00.000 +0200,Clear,rain,15.594444,15.594444,0.87,3.2844,41.0,15.4399,0.0,1014.52,Partly cloudy starting in the morning.
96433,2016-09-09 04:00:00.000 +0200,Clear,rain,15.011111,15.011111,0.93,3.2039,341.0,15.8263,0.0,1014.37,Partly cloudy starting in the morning.
96434,2016-09-09 05:00:00.000 +0200,Clear,rain,15.016667,15.016667,0.90,2.7048,359.0,14.9569,0.0,1014.55,Partly cloudy starting in the morning.
96435,2016-09-09 06:00:00.000 +0200,Clear,rain,13.872222,13.872222,0.93,4.7495,0.0,15.8263,0.0,1014.66,Partly cloudy starting in the morning.
96436,2016-09-09 07:00:00.000 +0200,Clear,rain,16.072222,16.072222,0.88,2.7853,12.0,15.7297,0.0,1015.25,Partly cloudy starting in the morning.

Find all the instances when :
'Weather is Clear' and 'Humidity is greater than 50' or 'Visibility is above 40'

In [162]:
data.head(1)

,Formatted Date,Weather Condition,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.

In [164]:
data[(data['Weather Condition'] == 'Clear') & (data['Humidity'] > 50) | (data['Visibility (km)'] > 40)]

Empty DataFrame
Columns: [Formatted Date, Weather Condition, Precip Type, Temperature (C), Apparent Temperature (C), Humidity, Wind Speed (km/h), Wind Bearing (degrees), Visibility (km), Loud Cover, Pressure (millibars), Daily Summary]
Index: []